name: Build and Analyze

on:
  push:
    branches:
     - master
pull_request:
  branches:
master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

      
name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

      
name: Cache Maven
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |${{ runner.os }}-maven-

      
name: Build project
      run: mvn -B verify

      
name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        args: >-Dsonar.projectKey=libraryOrganization2025_library-Dsonar.organization=libraryOrganization2025
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
